/* Navigation */
#navigation{
    list-style: none;
    padding: 10px;
    margin: 0 10px;
}

.navigation-item{
    display: block;
    color: white;
    box-sizing: border-box;
    text-align: center;
    padding: 3px;
    border-radius: 7px;
    margin: 0 10px;
}

#navigation a:hover{
    text-decoration: none;
    background-color: wheat;
    color: #110C11;
}

#navigation-body{
    border: 1px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #110C11;
}

@media only screen and (max-width: 634px){
    .navigation-item{
        width: 100%;
    }
}

/* Introduction */
#introduction-img{
    border-right: 2px solid black;
    padding: 10px;
}

#introduction{
    padding: 50px 20px;
    margin-top: 50px;
}

.removeBorder{
    border-right: none !important;
    border-bottom: 1px solid black;
}

.addSpacing{
    margin-top: 10px;
}

#introduction-body{
    text-align: center;
    padding: 10px;
}

/* Profile */
#profile{
    /* border: 1px solid black; */
    width: 100%;
    margin: 0;
    padding: 50px 0;
}

h2{
    text-align: center;
}

#languages,#tools,#concepts{
    padding: 7px;
}

#languages{
    background-color:greenyellow;
}

#tools{
    background-color: whitesmoke;
}

#concepts{
    background-color: goldenrod;
}

.experience label,.experience{
    display: block;
    text-align: center;
}

/* Extra */
html,body{
    height: 100%;
    width: 100%;
}

#profile,#introduction,#language-body{
    width: 100%;
}

.makeHeight100{
    height: 100%;
}

.active{
    background-color: wheat;
    color: #110C11;
}

.makeNavVertical{
    margin: 10px;
    width: 100%;
    
}

.changeDefaultMargin{
    margin-top: 270px !important;
    padding-bottom: 50px !important;
}
